<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-background-enable"
        version="0.7.2">

    <name>BackgroundEnable</name>

    <description>Prevent apps from going to sleep in background.</description>

    <repo>https://github.com/bloodf/cordova-plugin-background-enable.git</repo>

    <keywords>appplant, background</keywords>

    <license>Apache 2.0</license>

    <author>Heitor Ramon (Original Author: Sebastián Katzer)</author>

    <!-- dependencies -->
    <dependency id="cordova-plugin-device" />

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
        <engine name="android-sdk" version=">=16" />
    </engines>

    <!-- js -->
    <js-module src="www/background-enable.js" name="BackgroundEnable">
        <clobbers target="cordova.plugins.backgroundEnable" />
        <clobbers target="plugin.backgroundEnable" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundEnable">
                <param name="ios-package" value="APPBackgroundEnable" onload="true" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundEnables">
            <array>
                <string>audio</string>
            </array>
        </config-file>

        <resource-file src="appbeep.wav" />

        <header-file src="src/ios/APPBackgroundEnable.h" />
        <source-file src="src/ios/APPBackgroundEnable.m" />
        <header-file src="src/ios/APPMethodMagic.h" />
        <source-file src="src/ios/APPMethodMagic.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundEnable">
                <param name="android-package" value="de.appplant.cordova.plugin.background.BackgroundEnable"/>
            </feature>
            <feature name="BackgroundEnableExt">
                <param name="android-package" value="de.appplant.cordova.plugin.background.BackgroundEnableExt"/>
            </feature>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="KeepRunning" value="true" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="de.appplant.cordova.plugin.background.ForegroundService" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <source-file
            src="src/android/BackgroundEnable.java"
            target-dir="src/de/appplant/cordova/plugin/background" />

        <source-file
            src="src/android/BackgroundEnableExt.java"
            target-dir="src/de/appplant/cordova/plugin/background" />

        <source-file
            src="src/android/ForegroundService.java"
            target-dir="src/de/appplant/cordova/plugin/background" />
    </platform>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundEnable">
                <param name="browser-package" value="BackgroundEnable"/>
            </feature>
        </config-file>

        <js-module src="src/browser/BackgroundEnableProxy.js" name="BackgroundEnable.Proxy">
            <runs />
        </js-module>
    </platform>

</plugin>
